@using System.Web.Mvc.Html
@using WebApplication.Models.CollectionBookModels
@model WebApplication.Models.CollectionModels.CollectionListModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
}

@section Navigation{
    <div class="col-md-12 col-xs-6">
        <div class="profile-sidebar hidden-print affix" style="width: auto; position: fixed; border-radius: 5px; padding: 10px 0px; background: aliceblue;">
            <ul class="nav">
                @foreach (var cl in Model.Collections)
                {
                    <li>
                        <a href="#@cl.collection.Name@cl.collection.ID">@cl.collection.Name</a>
                    </li>
                }
                <li><a href="@Url.Action("Create")">Create new</a></li>
                <li><a href="#accordion">Go up.</a></li>
            </ul>
        </div>
    </div>

}

@section Content{
    <div class="panel-group" id="accordion">
        @foreach (var cl in Model.Collections)
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#@cl.collection.Name@cl.collection.ID">
                            @cl.collection.Name
                        </a>
                    </h4>
                </div>
                <div id="@cl.collection.Name@cl.collection.ID" class="panel-collapse collapse">
                    <div class="panel-body">
                        <h4 class="text-info">
                            @cl.collection.Description
                        </h4>
                        <hr/>
                        <div class="container panel-group">
                            @foreach (CollectionBookModel book in cl.books)
                            {
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div class="col-md-3">
                                            <img class="img-thumbnail" src="@Url.Action("GetImage", "Books", new {id = book.book.ID})" alt="cover image"/>
                                        </div>
                                        <div class="row col-md-9">
                                            <div class="">
                                                @Html.LabelFor(model => book.book.Name, htmlAttributes: new {@class = "control-label col-md-3"})
                                                @Html.ActionLink(@book.book.Name, "Details", "Books", new {id = book.book.ID}, htmlAttributes: new {@class = "control-label col-md-9"})
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="">
                                                @Html.LabelFor(model => book.book.Author, htmlAttributes: new {@class = "control-label col-md-3"})
                                                @Html.ActionLink(book.book.Author.Name, "Details", "Author", new {id = book.book.Author.ID}, htmlAttributes: new {@class = "control-label col-md-9"})
                                            </div>
                                            <div class="btn-group btn-group-sm btn-group-justified">
                                                <a class="btn btn-success" href="@Url.Action("Read", "CollectionBook", new {id = book.ID})"><i class="glyphicon glyphicon-book" aria-hidden="true"></i>Read</a>
                                                <a class="btn btn-success" href="@Url.Action("Download", "CollectionBook", new {id = book.ID})"><i class="glyphicon glyphicon-download" aria-hidden="true"></i>Download</a>
                                                <a class="btn btn-success" href="@Url.Action("Index", "CollectionBook", new {id = book.ID})"><i class="glyphicon glyphicon-eye-open" aria-hidden="true"></i>Watch more</a>
                                                <a data-toggle="dropdown" class="btn btn-warning dropdown-toggle" href="#"><i class="glyphicon glyphicon-bookmark" aria-hidden="true"></i>Move to</a>
                                                <ul class="dropdown-menu" role="menu">
                                                    @foreach (var clc in Model.Collections)
                                                    {
                                                        <li><a href="@Url.Action("Move", "CollectionBook", new {ID = book.ID, newClID = clc.collection.ID})"></a>Move to @clc.collection.Name</li>
                                                    }
                                                </ul>
                                                <a class="btn btn-danger" href="@Url.Action("Delete", "CollectionBook", new {id = book.ID})"><i class="glyphicon glyphicon-remove" aria-hidden="true"></i>Delete</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-footer"></div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="btn-group btn-group-lg btn-group-justified">
                            <a class="btn btn-danger" href="@Url.Action("Clear", "Collection", new {id = cl.collection.ID})">Clear collection</a>
                            @if (cl.collection.Name != "Favorite")
                            {
                                <a class="btn btn-danger" href="@Url.Action("Delete", "Collection", new {id = cl.collection.ID})">Delete collection</a>
                            }
                        </div> 
                    </div>
                </div>
            </div>
        }
    </div>
}

