@using WebApplication.Models.BookModels
@model WebApplication.Models.AuthorModels.AuthorFullModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-3">
            <img src=@Model.PhotoPath alt="image"/>
        </div>
        <div class="container col-md-9">
            <div class="container list-group">
                <div class="list-group-item">
                    <div class="control-label col-md-12">@Html.DisplayFor(model => model.Name)</div>
                </div>
                <div class="list-group-item">
                    @Html.LabelFor(model => model.BirthDate, htmlAttributes: new {@class = "control-label col-md-4"})
                    @Html.DisplayFor(model => model.BirthDate)
                </div>
                <div class="list-group-item">
                    @Html.LabelFor(model => model.DeathDate, htmlAttributes: new {@class = "control-label col-md-4"})
                    @Html.DisplayFor(model => model.DeathDate)
                </div>
                <div class="list-group-item">
                    @Html.LabelFor(model => model.Biography, htmlAttributes: new {@class = "control-label col-md-4"})
                    @Html.DisplayTextFor(model => model.Biography)
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <div class="container">
        @foreach (BookShortModel book in Model.Books)
        {
            @Html.Partial("_BookShortView", book);
        }
    </div>
</div>
