@model WebApplication.Models.ViewModels.AuthorModels.AuthorIndexModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h2>Authors on Booker</h2>
    <div class="container-a">
        <div class="row">
            <div id="authors-content" class="authors-list">
                @Html.Partial("_AuthorListView", Model)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="text-center">
            <nav>
                <ul class="pagination pagination-lg">
                    @{ string disabled = "";}
                    @if (Model.currentPage == 1)
                    {
                        disabled = "disabled";
                    }
                    <li class="@disabled">
                        @Ajax.ActionLink("<<", "List", "Author", new {currentPage = Model.currentPage - 1}, new AjaxOptions()
                        {
                            HttpMethod = "GET",
                            UpdateTargetId = "authors-content",
                            InsertionMode = InsertionMode.Replace,
                        })
                    </li>

                    @{
                        string active = "";
                        int startI = 1;
                        int endI = Model.pageCount;
                        if (Model.currentPage > 3 && Model.pageCount - 2 <= Model.currentPage)
                        {
                            startI = Model.currentPage - 2;
                            endI = Model.currentPage + 2;
                        }
                        if (Model.currentPage + 2 > Model.pageCount && Model.pageCount > 5)
                        {
                            startI = Model.pageCount - 4;
                            endI = Model.pageCount;
                        }

                    }
                    @for (int i = startI; i <= endI; i++, active = "")
                    {
                        if (i == Model.currentPage)
                        {
                            active = "active";
                        }
                        <li class="@active">
                            @Ajax.ActionLink(i.ToString(), "List", "Author", new {currentPage = i}, new AjaxOptions()
                            {
                                HttpMethod = "GET",
                                UpdateTargetId = "authors-content",
                                InsertionMode = InsertionMode.Replace,
                            })
                        </li>
                    }

                    @{ disabled = "";}
                    @if (Model.currentPage == Model.pageCount)
                    {
                        disabled = "disabled";
                    }
                    <li class="@disabled">
                        @Ajax.ActionLink(">>", "List", "Author", new {currentPage = Model.currentPage + 1}, new AjaxOptions()
                        {
                            HttpMethod = "GET",
                            UpdateTargetId = "books-content",
                            InsertionMode = InsertionMode.Replace,
                        })
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

@*<div class="container container-a">
    <div class="row">
        <div class="name">Authors: </div>
        <div id="authors-content" class="authors-list">
            @foreach (var author in Model)
            {
                @Html.Partial("_AuthorShortView", author)
            }
        </div>
    </div>
</div>*@

@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

