@using WebApplication.Models.ViewModels.ContentModels
@model WebApplication.Models.ViewModels.CollectionBookModels.CollectionBookPageModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
}

@section Navigation{

}

@section Content{
    <div class="col-md-12 row">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-3">
                    <img class="img-thumbnail" src="@Url.Action("GetImage", "Books", new {id = Model.Book.book.ID})" alt="cover image"/>
                </div>
                <div class="row col-md-9">
                    <div class="col-md-12">
                        @Html.LabelFor(model => model.Book.book.Name, htmlAttributes: new {@class = "control-label col-md-3"})
                        @Html.ActionLink(@Model.Book.book.Name, "Details", "Books", new {id = Model.Book.book.ID}, htmlAttributes: new {@class = "control-label col-md-9"})
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        @Html.LabelFor(model => model.Book.book.Author, htmlAttributes: new {@class = "control-label col-md-3"})
                        @Html.ActionLink(Model.Book.book.Author.Name, "Details", "Author", new {id = Model.Book.book.Author.ID}, htmlAttributes: new {@class = "control-label col-md-9"})
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <p>There is book from collection <strong>@Model.Book.collection.Name</strong>
                </p>
            </div>
        </div>
        <div class="col-md-12">
            <div class="dropdown">
                <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button"><i class="glyphicon glyphicon-cloud-download" aria-hidden="true"></i> Download file format <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                    @foreach (var file in Model.Files)
                    {
                        <li><a href="@Url.Action("Download", "Books", new {id = file.BookID, fileID = file.ID})">@file.Format</a></li>
                    }
                </ul>
            </div>

        </div>
        <div class="col-md-12" style="padding-top: 10px">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#quotes">Quotes</a></li>
                <li><a data-toggle="tab" href="#bookmarks">Bookmarks</a></li>
            </ul>

            <div class="tab-content">
                <div id="quotes" class="tab-pane fade in active">
                    <h2>Quotes</h2>
                    @Html.Partial("_QuoteListView",Model.Quotes)
                    @using (Ajax.BeginForm("AddQuote", new AjaxOptions()
                    {
                        HttpMethod = "POST",
                        UpdateTargetId = "quotesContent",
                        InsertionMode = InsertionMode.Replace,
                    }))
                    {
                        QuoteModel quote = new QuoteModel()
                        {
                            CollectionBookID = Model.Book.ID,
                            Text = "",
                        };

                        @Html.AntiForgeryToken()
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                            @Html.HiddenFor(e => quote.CollectionBookID)
                            <div class="form-group">
                                @Html.LabelFor(e => quote.Text, htmlAttributes: new {@class = "control-label col-md-2"})
                                <div class="col-md-10">
                                    @Html.TextAreaFor(e => quote.Text, 10, 50, new {htmlAttributes = new {@class = "form-control"}})
                                    @Html.ValidationMessageFor(e => quote.Text, "", new {@class = "text-danger"})
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Add quote" class="btn btn-default"/>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div id="bookmarks" class="tab-pane fade">
                    <h2>Bookmarks</h2>
                    @Html.Partial("_BookmarkListView",Model.Bookmarks)
                    @using (Ajax.BeginForm("AddBookmark", new AjaxOptions()
                    {
                        HttpMethod = "POST",
                        UpdateTargetId = "bookmarksContent",
                        InsertionMode = InsertionMode.Replace,
                    }))
                    {
                        BookmarkModel bookmark = new BookmarkModel()
                        {
                            CollectionBookID = Model.Book.ID,
                            Page = 0,
                        };

                        @Html.AntiForgeryToken()
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                            @Html.HiddenFor(e => bookmark.CollectionBookID)
                            <div class="form-group">
                                @Html.LabelFor(e => bookmark.Page, htmlAttributes: new {@class = "control-label col-md-2"})
                                <div class="col-md-10">
                                    @Html.TextBoxFor(e => bookmark.Page, new {htmlAttributes = new {@class = "form-control"}})
                                    @Html.ValidationMessageFor(e => bookmark.Page, "", new {@class = "text-danger"})
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Add bookmark" class="btn btn-default"/>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}

