@model WebApplication.Models.UserModels.EditListModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="clearfix"></div>
<div class="container">
    <h2>Edit</h2>


    <div class="container col-md-offset-1 col-md-10">
        <h4>Edit list: @Model.List.Name</h4>
        <hr/>
        <div class="clearfix"></div>
        <div class="container col-md-12">
            <h4>Books in this list:</h4>
            <div class="table">
                @foreach (var item in Model.ListBooks)
                {
                    <div class="col-md-12">
                        <div class="col-md-5">
                            -@Html.DisplayFor(modelItem => item.Name)
                        </div>
                        <div class="col-md-4">
                            @Html.DisplayFor(modelItem => item.Author.Name)
                        </div>
                        <div class="col-md-3">
                            @Html.ActionLink("Delete from list", "DeleteListBook", new {listID = Model.List.ID, bookID = item.ID})
                        </div>
                    </div>
                    <div class="clearfix"></div>
                }
            </div>
        </div>
        <div class="clearfix"></div>
        <hr/>
        <div class="container col-md-12">
            <h4>Other books:</h4>
            <div class="table">
                @foreach (var item in Model.OtherBooks)
                {
                    <div class="col-md-12">
                        <div class="col-md-5">
                            @Html.DisplayFor(modelItem => item.Name)
                        </div>
                        <div class="col-md-4">
                            @Html.DisplayFor(modelItem => item.Author.Name)
                        </div>
                        <div class="col-md-3">
                            @Html.ActionLink("Add book to list", "AddListBook", new {listID = Model.List.ID, bookID = item.ID})
                        </div>
                    </div>
                    <p></p>
                    <div class="clearfix"></div>
                }
            </div>
        </div>
        <div class="clearfix"></div>
        <hr/>
        <div class="btn-group">
            <a href="@Url.Action("Index")" class="btn btn-link">Back</a>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
