@model WebApplication.Models.UserModels.EditListModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h2>Books in <strong>@Model.List.Name</strong> list</h2>
        <div id="list-books-content" class="">
            @Html.Partial("_EditListView",Model)
        </div>
    </div>
    <hr/>
    <h2>Select the book you want to add in list</h2>
    <div class="col-md-12">
        @using (Ajax.BeginForm("AddListBook", "List", new AjaxOptions()
        {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "list-books-content"
        }, htmlAttributes: new {@class = "navbar-form", @role = "search"}))
        {
            @Html.AntiForgeryToken()
            @Html.Hidden("listID", Model.List.ID)
            <div class="input-group">
                <input id="book-searcher" type="search" class="form-control" placeholder="Search book..." name="text">
                <div class="input-group-btn">
                    <button id="add-book-button" class="btn btn-default" type="submit" name="bookID"><span class="">Add book</span></button>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $("#book-searcher").autocomplete({
            delay: 300,
            source: '@Url.Action("FindBook", "Find")',
            minLength: 2,
            select: function (event, ui) {
                $("#book-searcher").val(ui.item.label);
                $("#add-book-button").val(ui.item.value);
                return false;
            }
        });
    </script>
}
