@using Service.Interfacies.Entities
@model WebApplication.Models.BookModels.BookShortModel

<div class="panel panel-default">
    <div class="panel-body">
        <div class="col-md-3">
            <img class="img-thumbnail" src="@Url.Action("GetImage","Books", new {id = Model.ID})" alt="cover image"/>
        </div>
        <div class="row col-md-9">
            <div class="col-md-12">
                @Html.LabelFor(model => model.Name, htmlAttributes: new {@class = "control-label col-md-3"})
                @Html.ActionLink(@Model.Name, "Details", "Books", new {id = Model.ID}, htmlAttributes: new {@class = "control-label col-md-9"})
            </div>
            <div class="clearfix"></div>
            <div class="col-md-12">
                @Html.LabelFor(model => model.Author, htmlAttributes: new {@class = "control-label col-md-3"})
                @Html.ActionLink(Model.Author.Name, "Details", "Author", new {id = Model.Author.ID}, htmlAttributes: new {@class = "control-label col-md-9"})
            </div>
            <div class="clearfix"></div>
            <div id="like-buttons">
                @Html.Partial("_LikeButtonsView", Model.Likes)
            </div>
        </div>
    </div>
    <div class="panel-footer"></div>
</div>
