<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        @Html.ActionLink("Booker", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("Books", "Index", "Books")</li>
            <li>@Html.ActionLink("Authors", "Index", "Author")</li>
            <li>@Html.ActionLink("Genres", "Index", "Genre")</li>
            <li>@Html.ActionLink("Lists", "Index", "List")</li>
            <li>@Html.ActionLink("Random book", "Random", "Books")</li>
            <li>@Html.ActionLink("Tags", "Index", "Tag")</li>
        </ul>
        <div class="col-sm-3 col-md-3">
            <form class="navbar-form" role="search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" name="q">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit" onclick="location.href='<%: @Url.Action("Index", "Find") %>'"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("Login", "Login", "Login")</li>
            <li>@Html.ActionLink("Sign", "Sign", "Sign")</li>
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>

<div class="container body-content">
    @RenderBody()
    <hr/>
    <footer class="modal-footer">
        <p>&copy; @DateTime.Now.Year – ASP.NET application for EPAM.</p>
    </footer>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>
