@model WebApplication.Models.ViewModels.ListModels.ListIndexModel

<div class="col-md-12">
    <div class="row">
        @foreach (var list in Model.Lists)
        {
            <div class="col-md-4">
                <h3><a href="@Url.Action("List", "List", new {id = list.List.ID})">@list.List.Name</a></h3>
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        @{
                            string active = "active";
                        }
                        @for (int i = 0; i < list.Books.Count(); i++)
                        {
                            <li data-target="#carousel-example-generic" data-slide-to="@i" class="@active"></li>
                            active = "";
                        }
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        @{
                            active = "active";
                        }
                        @foreach (var cover in list.Books)
                        {
                            <div class="item @active">
                                <img style="text-align: center; max-height: 250px; max-width:180px" src="@Url.Action("GetImage", "Books", new {id = cover.ID})" alt="image-alt">
                                <div class="carousel-caption">
                                    <h3>@cover.Name</h3>
                                </div>
                            </div>
                            active = "";
                        }
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        }
    </div>
</div>