@model WebApplication.Models.Shared._UserProfileModel

@{
    ViewBag.Title = "_ProfileLayout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="col-md-3">
        <div class="row">
            @RenderSection("Navigation", false)
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            @RenderSection("Content")
        </div>
    </div>
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-12">
                <div class="">
                    <img class="img-thumbnail" src="@Url.Action("GetImage", "User", new {id = Model.ID})" />
                </div>
                <div class="" style="padding-top:10px">
                    <h4 class="text-center text-info control-label">@Model.Name @Model.Surname</h4>
                </div>
                <div class="" style="padding-top:10px">
                    <div class="btn-group btn-group-justified">
                        <a class="btn btn-primary" href="@Url.Action("Edit", "User", new {id = Model.ID})">Edit profile</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

