@using Service.Interfacies.Entities
@using WebApplication.Models
@using WebApplication.Models.AuthorModels
@using WebApplication.Models.BookModels
@using WebApplication.Models.ContentModels
@using WebApplication.Models.UserModels
@model WebApplication.Models.BookModels.BookPageModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-3 row" style="margin-right:5px">
            <div class="text-center">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        @{
                            string active = "active";
                        }
                        @for (int i = 0; i < Model.Covers.Count(); i++)
                        {
                            <li data-target="#carousel-example-generic" data-slide-to="@i" class="@active"></li>
                            active = "";
                        }
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        @{
                            active = "active";
                        }
                        @foreach (var cover in Model.Covers)
                        {
                            <div class="item @active">
                                <img src="@Url.Action("GetCover", "Books", new {bookID = Model.ID, coverID = cover.ID})" alt="image-alt">
                            </div>
                            active = "";
                        }
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            
            <div class="" style="padding-top: 10px">
                <div id="like-progress-buttons">
                    @Html.Partial("_LikeProgressButtonsView",Model.Likes)
                </div>
                <div class="" style="padding-top: 10px">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div id="collections-manage-content">
                            @Html.Partial("_CollectionsBookManageView",Model.Collections)
                        </div>
                        <div class="" style="padding-top: 10px">
                            <div class="btn-group btn-group-sm btn-group-justified">
                                <a class="btn btn-default" href="@Url.Action("Edit", "Books", new {id = Model.ID})"><i class="glyphicon glyphicon-edit" aria-hidden="true"></i>Edit book</a>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="btn-group btn-group-sm btn-group-justified">
                            <a class="btn btn-info" href="@Url.Action("Login", "Login", new {returnUrl = Url.Action("Details", "Books", new {Id = Model.ID})})">Login to add books to the collection</a>
                        </div>
                    }
                </div>       
            </div>
        </div>
        <div class="col-md-9 row">
            <div class="panel panel-info">
                <div class="panel-heading">
                     <h2>@Model.Name</h2>
                </div>
                <div class="panel-body list-group">
                    <div class="list-group-item">
                        @Html.LabelFor(model => model.Authors, htmlAttributes: new {@class = "control-label col-md-4"})
                        @foreach (AuthorShortModel author in Model.Authors)
                        {
                            @Html.ActionLink(author.Name, "Details", "Author", new { id = author.ID }, htmlAttributes: new { @class = "control-label" })
                            <text>|</text>
}
                    </div>
                    <div class="list-group-item">
                        @Html.LabelFor(model => model.PublishDate, htmlAttributes: new {@class = "control-label col-md-4"})
                        @Html.DisplayFor(model => model.PublishDate)
                    </div>
                    <div class="list-group-item">
                        @Html.LabelFor(model => model.AgeCategory, htmlAttributes: new {@class = "control-label col-md-4"})
                        @Html.DisplayFor(model => model.AgeCategory)
                    </div>
                    <div class="list-group-item">
                        @Html.LabelFor(model => model.Genres, htmlAttributes: new {@class = "control-label col-md-4"})
                        @foreach (GenreModel genre in Model.Genres)
                        {
                            @Html.ActionLink(genre.Name, "List", "Genre", new {id = genre.ID}, htmlAttributes: new {@class = "control-label"})
                            <text>|</text>
                        }
                    </div>
                    <div class="list-group-item">
                        @Html.LabelFor(model => model.Tags, htmlAttributes: new {@class = "control-label col-md-4"})
                        @foreach (TagModel tag in Model.Tags)
                        {
                            @Html.ActionLink(tag.Name, "List", "Tag", new {id = tag.ID}, htmlAttributes: new {@class = "control-label"})
                            <text>| </text>
}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="container">
        <div class="col-md-8">
            <div class="row">
                <div class=""></div>
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#comments">Comments</a></li>
                    <li><a data-toggle="tab" href="#contents">Contents</a></li>
                    <li><a data-toggle="tab" href="#reviews">Reviews</a></li>
                </ul>

                <div class="tab-content">
                    <div id="comments" class="tab-pane fade in active">
                        <h3>Comments</h3>
                        <div class="row">
                            @Html.Partial("_CommentListView", Model.Comments)
                        </div>
                        @using (Ajax.BeginForm("CreateComment", "Comment", new AjaxOptions()
                        {
                            HttpMethod = "POST",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "commentsContent",
                        }))
                        {
                            CommentModel comment = new CommentModel();
                            comment.Book = new BookShortModel() { ID = Model.ID };
                            comment.User = new UserShortModel();
                            comment.Text = "";
                            @Html.AntiForgeryToken()
                            <div class="form-horizontal">
                                @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                                @Html.HiddenFor(e=>comment.Book.ID)
                                <div class="form-group">
                                    @Html.LabelFor(e => comment.Text, htmlAttributes: new {@class = "control-label col-md-2"})
                                    <div class="col-md-10">
                                        @Html.TextAreaFor(e => comment.Text, 10, 50, new {htmlAttributes = new {@class = "form-control"}})
                                        @Html.ValidationMessageFor(e => comment.Text, "", new {@class = "text-danger"})
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Comment" class="btn btn-default"/>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div id="contents" class="tab-pane fade">
                        <h3>Contents</h3>
                        <div class="row">
                            @Html.Partial("_ContentListView", Model.Contents)
                            @foreach (var content in Model.Contents)
                            {
                                @Html.Partial("_ContentView", content)
                            }
                            @using (Ajax.BeginForm("CreateContent", "Comment", new AjaxOptions()
                            {
                                HttpMethod = "POST",
                                InsertionMode = InsertionMode.Replace,
                                UpdateTargetId = "contentsContent",
                            }))
                            {
                                ContentModel content = new ContentModel();
                                content.Book = new BookShortModel() {ID = Model.ID};
                                content.Text = "";
                                @Html.AntiForgeryToken()
                                <div class="form-horizontal">
                                    @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                                    @Html.HiddenFor(e => content.Book.ID)
                                    <div class="form-group">
                                        @Html.LabelFor(e => content.Text, htmlAttributes: new {@class = "control-label col-md-2"})
                                        <div class="col-md-10">
                                            @Html.TextAreaFor(e => content.Text, 10, 50, new {htmlAttributes = new {@class = "form-control"}})
                                            @Html.ValidationMessageFor(e => content.Text, "", new {@class = "text-danger"})
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="Add content" class="btn btn-default"/>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div id="reviews" class="tab-pane fade">
                        <h3>Reviews</h3>
                        <div class="row">
                            @Html.Partial("_ReviewListView",Model.Reviews)
                            @using (Ajax.BeginForm("CreateReview", "Comment", new AjaxOptions()
                            {
                                HttpMethod = "POST",
                                InsertionMode = InsertionMode.Replace,
                                UpdateTargetId = "reviewsContent",
                            }))
                            {
                                ReviewModel review = new ReviewModel();
                                review.Header = "";
                                review.Book = new BookShortModel() {ID = Model.ID};
                                review.Text = "";
                                review.Type = ReviewType.Negative;
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(e => review.Book.ID)
                                <div class="form-horizontal">
                                    @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                                    <div class="form-group">
                                        @Html.LabelFor(e => review.Header, htmlAttributes: new {@class = "control-label col-md-2"})
                                        <div class="col-md-10">
                                            @Html.EditorFor(e => review.Header, new {htmlAttributes = new {@class = "form-control"}})
                                            @Html.ValidationMessageFor(e => review.Header, "", new {@class = "text-danger"})
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(e => review.Text, htmlAttributes: new {@class = "control-label col-md-2"})
                                        <div class="col-md-10">
                                            @Html.TextAreaFor(e => review.Text, 10, 50, new {htmlAttributes = new {@class = "form-control"}})
                                            @Html.ValidationMessageFor(e => review.Text, "", new {@class = "text-danger"})
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-5">
                                            <div class="btn-group btn-group-justified" data-toggle="buttons">
                                                <label class="btn btn-danger">
                                                    <input type="radio" autocomplete="off" name="review.Type" value="0"/> Negative
                                                </label>
                                                <label class="btn btn-default">
                                                    <input type="radio" autocomplete="off" name="review.Type" value="1"/> Neutral
                                                </label>
                                                <label class="btn btn-success">
                                                    <input type="radio" autocomplete="off" name="review.Type" value="-1" /> Positive
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="Add review" class="btn btn-default"/>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">

            </div>
        </div>
    </div>
</div>
