@model WebApplication.Models.BookModels.BookIndexPageModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Books main page</h2>

<div class="jumbotron">
    <div class="container container-a">
        <div class="row">
            <div class="name"><a href="@Url.Action("List")">Most popular books:</a>
            </div>
            <div class="authors-list">
                @foreach (var book in Model.Books)
                {
                    @Html.Partial("_BookShortImageView", book)
                }
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="container container-a">
        <div class="row">
            <div class="name"><a href="@Url.Action("Index", "Author")">Most popular authors: </a>
            </div>
            <div class="authors-list">
                @foreach (var author in Model.Authors)
                {
                    @Html.Partial("_AuthorShortView", author)
                }
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="container container-a">
        <div class="row">
            <div class="name"><a href="@Url.Action("Index", "Genre")">Most popular genres:</a>
            </div>
            <div class="authors-list">
                @foreach (var genre in Model.Genres)
                {
                    genre.book.Name = genre.genre.Name;
                    @Html.Partial("_BookShortImageView", genre.book)
                }
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="container container-a">
        <div class="row">
            <div class="name"><a href="@Url.Action("Index", "List")">"List of top books:</a>
            </div>
            <div class="authors-list">
                @foreach (var list in Model.Lists)
                {
                    list.book.Name = list.list.Name;
                    @Html.Partial("_BookShortImageView", list.book)
                }
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

