@model IEnumerable<WebApplication.Models.TagModel>

@{
    ViewBag.Title = "Tags";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center text-primary">Tags</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Books with this tag", "List", new { id = item.ID })|
            @Html.ActionLink("Delete", "Delete", new {id = item.ID})
        </td>
    </tr>
}

</table>
