@model WebApplication.Models.UserModels.UserProfileModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="jumbotron">
    <div class="row">
        <div class="col-md-3">
            <img class="img-thumbnail" src="@Url.Action("GetImage", new {id = Model.ID})" alt="image"/>
            <div class="btn-group btn-group-justified" style="padding-top:2.6em">
                <a class="btn btn-primary" href="@Url.Action("Edit", new {id = Model.ID})">Edit</a>
            </div>
        </div>
        <div class="container col-md-9">
            <div class="container list-group">
                <div class="list-group-item">
                    <p class="control-label col-md-12">Your profile</p>
                </div>
                <div class="list-group-item">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new {@class = "control-label col-md-4"})
                    @Html.DisplayFor(model => model.Name)
                </div>
                <div class="list-group-item">
                    @Html.LabelFor(model => model.Surname, htmlAttributes: new { @class = "control-label col-md-4" })
                    @Html.DisplayFor(model => model.Surname)
                </div>
                <div class="list-group-item">
                    @Html.LabelFor(model => model.BirthDate, htmlAttributes: new { @class = "control-label col-md-4" })
                    @Html.DisplayFor(model => model.BirthDate)
                </div>
                <div class="list-group-item">
                    @Html.LabelFor(model => model.Male, htmlAttributes: new { @class = "control-label col-md-4" })
                    @{
                        if (Model.Male==true)
                        {
                            <text>Male</text>
                        }
                        else if (Model.Male == false)
                        {
                            <text>Female</text>
                        }
                        else
                        {
                            <text>Not selected</text>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
